<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shuang_cs160.prg02" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TwitterLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="74a1ee62c6e5e6693b2c1e2d02902fc58c2c76c0" />

        <service
            android:name=".ReceiverService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".TweetExcited"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name=".FindTweet"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".ViewTweet"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
